@page "/"
@using BlazorShoppingCarts.Shared
@using BlazorShoppingCarts.Shared.Models
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using System.Collections.Generic
@using Microsoft.AspNetCore.Blazor

@inject HttpClient Http

<style>


    .divContainer {
        margin-bottom: 5px;
        position: relative;
        width: 750px;
        height: 120px;
        background-position-y: -10px;
        background-position-x: 476px;
        background-repeat: no-repeat;
        background-size: 120px auto;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid #0192d1;
        color: #000000;
        -webkit-transition: border 300ms linear 0s;
        -moz-transition: border 300ms linear 0s;
        -o-transition: border 300ms linear 0s;
        transition: border 300ms linear 0s;
        /*height: 100px;*/
    }

        .divContainer:hover, .divContainer:focus {
            background-color: rgba(255, 255, 255, 0.15);
            border: 1px solid rgba(32, 46, 64, 0.80);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.10);
            color: #a01414;
            -webkit-transition: border 300ms linear 0s;
            -moz-transition: border 300ms linear 0s;
            -o-transition: border 300ms linear 0s;
            transition: border 300ms linear 0s;
            height: 120px;
        }
</style>


@if (Messages != "")
{
<div id="outPopUp" style="position: absolute;  width: 552px;  height: 320px;  z-index: 15;  top: 38%;  left: 50%;  margin: -100px 0 0 -150px;  background: #fbde5a;">
    <div id="outPopUp" style="position: absolute;  width: 551px;  height: 248px;    background: #fc3a2e;">
        <img src="Images/C1.png" onclick="@closeMessage" />
        <span style="color:#ECF3F4;font-size:xx-large;display: inline-block;    margin: 10px 10px 0 0;   padding: 5px 10px ">
            @Messages
        </span>
    </div>
    <div id="outPopUp" style="position: absolute; top:260px; width:350px;left:24%; height: 70px; ">
        <h3>
            <button type="submit" class="btn btn-success" onclick="@(async () => await deleteShopping())" style="width:150px;">
                <img src="Images/tick.png" height="32px" width="32px"/>   Ok
            </button>
            <button type="submit" class="btn btn-danger" onclick="@closeMessage" style="width:150px;">
                <img src="Images/delete1.png" height="32px" width="32px"/>  Cancel
            </button>
        </h3>
    </div>
</div>
    }

    <table style="padding: 5px;width: 99%;table-layout:fixed;" cellpadding="2"
           cellspacing="6">
        <tr style="height: 30px;  color:#336699 ;border-bottom: solid 1px #ff0000;">
            <td>

                <h2> My Shopping List</h2>
            </td>

        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                @if (myShopList == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {

                    @foreach (var myShoppings in myShopList)
                    {
                        <table>
                            <tr>
                                <td>


                                    <table class="divContainer">
                                        <tr>
                                            <td align="left" width="112px">
                                                <span style="color:#9F000F">
                                                    <img src="@myShoppings.ImageName" style="height:110px;width:110px" />
                                                </span>
                                            </td>
                                            <td align="left" valign="top">
                                                <table>
                                                    <tr>
                                                        <td valign="top">
                                                            <h2 style="color:#244f2b">@myShoppings.ItemName </h2>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Order Date : @myShoppings.ShoppingDate.Value.ToString("yyyy-MM-dd HH:mm")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @myShoppings.Description
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h3 style="color:#ff0000">  @myShoppings.TotalAmount (INR) /  @myShoppings.Qty (QTY)</h3>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <h3>
                                                    <button type="submit" class="btn btn-danger" onclick="@(async () => await deleteConfirm(@myShoppings))" style="width:220px;">
                                                        <img src="Images/delete.png"  /> Cancel Order
                                                    </button>
                                                </h3>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:10px;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    }
                }
            </td>
        </tr>



    </table>




    @functions {
        string UserName = "Shanu";
        ShoppingDetails SD = new ShoppingDetails();
        string Messages = "";
        myShopping[] myShopList;
        int shopID = 0;

        protected override async Task OnInitAsync()
        {
            shopID = 0;
            myShopList = await Http.GetJsonAsync<myShopping[]>("/api/ShoppingDetails/");
        }


        protected async Task deleteConfirm(myShopping sds)
        {

            shopID = sds.ShopId;
            Messages = "Are you Sure to Cancel your " + sds.ItemName + " Order ?";
        }

        protected async Task deleteShopping()
        {

            await Http.DeleteAsync("/api/ShoppingDetails/" + Convert.ToInt32(shopID));
            Messages = "";
            myShopList = await Http.GetJsonAsync<myShopping[]>("/api/ShoppingDetails/");
        }

        void closeMessage()
        {
            shopID = 0;
            Messages = "";



        }
    }
