@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Simple Index</h2>
	<ul> 
	 <li>@Html.ActionLink("Simple About", "About", "Simple")</li>
     <li>  @Html.ActionLink("Simple About with cancel route data", "About",
            new { id = "Cancel" })</li>

      <li>@Html.ActionLink("Test Filter Order", "Test1", "Simple")</li>

	 <li>@Html.ActionLink("Simple Details", "Details", "Simple")</li>
	 <li>@Html.ActionLink("Throw Not Implemented Exceptions", "ShowHandleErrorAttribute", "Simple")</li>
	 </ul> 

     @Html.ActionLink("Simple Details with cancel route data", "Details",
             new {  id = "Cancel" })
       <br\ />
	Simple content