@{
    ViewBag.Title = "About Us";
}

<h2>Shared about</h2>
@ViewBag.AuthorizeFilterMessage
<p>
 
  
      @Html.ActionLink("Test HTTP Status 404", "TestStatus", new {  id=404  })  |
      @Html.ActionLink("Test HTTP Status 410", "TestStatus", new {  id=410  })  |
       @Html.ActionLink("Test HTTP Status 410", "TestStatus", new {  id=410  })  </br>
       @Html.ActionLink("HttpNotFound", "TestStatus", new { id = 40404 })  |
       @Html.ActionLink("HttpNotFound(msg)", "TestStatus", new { id = 404404 })  |
	   @Html.ActionLink("HttpNotFoundResult ", "TestStatus", new { id = 1 })
</p>
