@using System.Collections.Generic;
@model IEnumerable<MVCSimpleInjectorDemo.DomainModels.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product Details</h2>

<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Price</td>
                <td>@Html.ActionLink("Edit", "Edit", new { @Id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>